[default]
library         = /usr/share/my_modules/
remote_tmp      = ~/.ansible/tmp
remote_user     = m.peshko
pattern         = *
forks           = 15
become_user     = root
ask_become_pass = false
ask_pass        = false
transport       = smart
pipelining      = true
nocows          = 1
become          = true
become_method   = sudo
become_ask_pass = false
nocolor         = 0
become_exe      = sudo
log_path        = ./ansible.log
roles_path      = ./ansible-roles
inventory_ignore_extensions = files, templates
allow_world_readable_tmpfiles   = true
force_handlers  = true
host_key_checking   = false
ansible_ssh_common_args='-o StrictHostKeyChecking=no'

interpreter_python  = /usr/bin/python3
show_custom_stats   = no
stdout_callback = yaml
