KafkaServer {
   org.apache.kafka.common.security.plain.PlainLoginModule required
   username="{{jaas_server_user_kafkabroker}}"
   password="{{jaas_server_password_kafkabroker_secret}}"
   "{{jaas_server_user_kafkabroker}}"="{{jaas_server_password_kafkabroker_secret}}"
   "{{jaas_server_user_kafka_broker_metric_reporter}}"="{{jaas_server_password_kafkabroker_metric_reporter_secret}}"
   "{{jaas_server_user_client}}"="{{jaas_server_password_client_secret}}"
   "{{jaas_server_user_connect}}"="{{jaas_server_password_connect_secret}}"
   "{{jaas_server_user_debezium}}"="{{jaas_server_password_debezium_secret}}";
};

Client {
   org.apache.kafka.common.security.plain.PlainLoginModule required
   username="{{jaas_client_username}}"
   password="{{jaas_client_password}}";
};
